<!DOCTYPE html>
<html lang = "en">

    <head>
        <title>Sign Up </title>
        <link rel = "stylesheet" href="../../static/signup.css">
    </head>
    <body>
        <img src = "../../static/assets/logo.png" alt = "logo">
        <div>
            <h1>Sign Up</h1>
                <form method = "POST" action = "{% url 'signup/' %}">
                {%csrf_token%}    
                    <label>First Name</label>
                    <input type = "text" placeholder = "first name" name = "fname">
                    <label>Last Name</label>
                    <input type = "text" placeholder = "last name" name = "lname">
                    <label>Business Name</label>
                    <input type = "text" placeholder = "buisness name" name = "bname">
                    <label>Email</label>
                    <input type = "text" placeholder = "email" name = "email">
                    <label>Phone Number</label>
                    <input type = "text" placeholder = "phone number" name = "phone">
                    <label>Password</label>
                    <input type = "text" placeholder = "password"  name = "password">
                    <label>Confirm Password</label>
                    <input type = "text" placeholder = "password confirm" name = "pass2">
                    <input type = "submit" value = "Create Account"/>
                </form>
                <p>Already have an account? <a href = "{% url 'login/'%}">Login</a></p>
            <p>By signing up you agree to PitStopPro's <br>
            <a href = "#">Terms and Conditions</a> and <a href = #>Privacy Policy</a>
            </p>
        </div>
    </body>
</html>