<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PitStopPro</title>
        <link rel="stylesheet" href="../../static/home.css">
    </head>
    <body>
        <nav id="main-nav">
            <img src="../../static/assets/Logo.jpg">
            <ul>
                <li>Calendar</li>
                <li>News</li>
                <li>Schedule</li>
                <li>Roster</li>
                <li>Photos</li>
                <li>Videos</li>
            </ul>
        </nav>
        <main>
            
        </main>
    </body>
</html>