<!Doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <!-- {% load static %} -->
  <link rel="stylesheet" type="text/css" href="../static/css/calendar_style.css">
  <title>Calendar</title>

</head>
<body>
  <nav id="main-nav">
    <a href="{% url 'Home' %}"><img src="../static/assets/R.png"></a>
    <img id="user" src="../static/assets/user.png">
        <ul> 
            <li><a class="internal-link" href="{% url 'calendar' %}">Calendar</a></li>
            <li><a class="internal-link" href="{% url 'news' %}">News</a></li>
            <li><a class="internal-link" href="#">Schedule</a></li>
            <li><a class="internal-link" href="{% url 'tickets' %}">Tickets</a></li>
            <li><a class="internal-link" href="#">Roster</a></li>
            <li><a class="internal-link" href="#">Media</a></li>
            <li><a class="internal-link" href="#">Athletes</a></li>
            <li class="dropdown">More
                <div class="dropdown-content">
                  <a href="#">Apparel</a>
                  <a href="#">Team Stats</a>
                  <a href="#">Player Stats</a>
                </div>
              </div></li>
        </ul>
  </nav>
  {% block content %}
  {% endblock %}
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script>
       window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("main-nav").style.top = "0";
  } 
  else {
    document.getElementById("main-navbar").style.top = "-50px";
  }
}
    </script>

  {% block script %}
  {% endblock %}
</body>
</html>