{% extends 'baseEvent.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="button" href="/calendar"> Calendar </a>
</div>

<div class ="container">
  <h1>{{all.title}}</h1>
  <h3>{{all.description}}</h3>
  <h5><a class = "location" href="https://maps.app.goo.gl/QRo36wuxX6Z171xN7">{{all.location}}</a></h5>
  <h1 class = "vs">VS</h1>
  <h3 class="time">{{all.start_time}}</h3>
  <img class="team_logo" src={{all.team_img.url}}>
  <img class="Riverside_logo" src="/static/assets/R.png">
  <a class="tickets" href="/tickets">TICKETS </a>
  
</div>


<script>
  
</script>
{% endblock %}