/* Body */

body {
    background-color: rgb(51, 51, 51);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
}

/* Main Navigation */

#main-nav {
    width: 120px;
    height: 100%;
    position: fixed;
    background-color: rgb(74, 74, 74);
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0px 0px;
    box-shadow: 2px 0px 5px rgb(37, 37, 37);
    overflow: hidden;
    max-width: 15%;
}

#main-nav img {
    width: 100%;
    height: auto;
}

#main-nav ul {
    padding: 0px;
    max-width: 100%;
}

#main-nav li {
    list-style-type: none;
    padding: 15px 20px;
    border: 1px solid rgb(88, 88, 88);
    max-width: 100%;
}

#main-nav li:hover {
    transition: 0.5s;
    background-color: rgb(88, 88, 88);
}

#main-nav a {
    color: white;
    text-decoration: none;
}

/* Main Content */

/* Media Query */




a {
    color: #17a2b8;
  }
  .left {
    position: relative;
    left:50%;
    margin: 15px;
  }
  
  .right {
    position: relative;
    left: 50%;
    margin: 15px;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: #17a2b8;
    box-shadow: 0 0 0 0;
  }

  .backbutton{
    outline: none;
    color: black;
    background-color: #17a2b8;
    border: 2px solid white;
    box-shadow: 0 0 0 0;
  }
  .goback{
    
    margin:25px;
  }
  
  .form-table {
    margin: auto;
    
  }
  
  
  .form-table input, .form-table select, .form-table textarea {
    border-radius: 5px;
    color:white;
    border: 2px solid white;
    outline: none;
    background: none;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
  }
  .form-table label{
   font-size: 20px;
   margin-right: 10px;
  }