body{
    background-image: url('../../static/assets/mechanic.jpg');
    background-color: #cccccc;
   }
   div{
    width: 40%;
    margin: auto;
    background-color: rgba(51, 51, 51,0.7);
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
   }
   h1{
       text-align: center;
       padding-top: 15px;
   }
   img{
        text-align: center;
        padding-top: 15px;
        outline: none;
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
   }
   form input{
       width: 70%;
       padding: 7px;
       padding-left: 2px;
       padding-right: 2px;
       padding-top: 2px;
       padding-bottom : 2px;
       display: flex;
       align-items: center;
       border: 1px solid grey;
       border-radius: 6px;
       outline : none; 
       margin : auto;
   }
   
   form input[type="submit"]{
       width: 320px;
       height: 35px;
       margin-top: 20px;
       border: none;
       background-color: rgb(198, 0, 0);
       color: white;
       font-size: 18px;
       display: block;
       margin: 10px auto;
   }
   p{
       text-align: center;
       padding-top: 10px;
       padding-bottom: 10px;
       font-size: 15px;
   }