/* Body */

body {
    background-color: rgb(204, 198, 198);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    
}

/* Main Navigation */

#main-nav {
    width: 95%;
    position: sticky;
    background-color: rgb(228, 18, 18);
    box-shadow: 0px 0px 50px rgb(37, 37, 37);
    border-radius: 5px;
    padding: 15px 20px;
    transition: top 0.3s;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

#main-nav img {
    width: 125px;
    height: 125px;
    float:left;
    position: relative;
    bottom:43px;
    
}

#main-nav #user {
  width: 50px;
  height: 50px;
  float:right;
  position: relative;
  /* top:0.1px; */
  bottom: 5px;
  background-color: white;
  border-radius: 50%;
}
#main-nav ul {
    display: inline;
    max-width: 100%;
    /*margin-left: 25%;*/
}

#main-nav li {
    list-style-type: none;
    padding: 15px 20px;
    max-width: 100%;
    text-align: center;
    font: 2em sans-serif;
    display: inline;
    
    
    
    
}

#main-nav li:hover {
    transition: 0.5s;
    background-color: rgb(212, 208, 208);
    border-radius: 10px;
    margin-bottom: -10px;
}

#main-nav a {
    color: white;
    text-decoration: none;
}
#main-nav a:hover{
    color: rgb(228, 18, 18);
    margin-bottom: -10px;
}
.internal-link:hover{
    font-weight: bolder;
}

/* Media Query */
/* Dropdown Button */
.dropdown:hover{
    color: rgb(228, 18, 18);
    font-weight: bolder;
    margin-bottom: -10px;
}
  
  /* The container <div> - needed to position the dropdown content */
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    right:85px;
    font-size: 16px;
    background-color: #474747;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  


  .login{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #474747;
    text-align: center;
    width:40%;
    margin-top: 50px;
    box-shadow: 0px 0px 50px rgb(37, 37, 37);
    height: 500px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  form label{
    color: rgb(228, 18, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;

  }

  form input{
    width: 70%;
       padding: 7px;
       padding-left: 2px;
       padding-right: 2px;
       padding-top: 2px;
       padding-bottom : 2px;
       display: flex;
       align-items: center;
       border: 1px solid grey;
       border-radius: 6px;
       outline : none; 
       
       margin : 50px auto;
  }
  form input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(198, 0, 0);
    color: white;
    font-size: 18px;
    display: block;
    margin: 10px auto;
}
/* Media Query */

@media only screen and (min-width: 800px) {
}