/* Body */

body {
    background-color: rgb(51, 51, 51);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
}

/* Main Navigation */

#main-nav {
    width: 120px;
    height: 100%;
    position: fixed;
    background-color: rgb(74, 74, 74);
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0px 0px;
    box-shadow: 2px 0px 5px rgb(37, 37, 37);
    overflow: hidden;
    max-width: 15%;
}

#main-nav img {
    width: 100%;
    height: auto;
}

#main-nav ul {
    padding: 0px;
    max-width: 100%;
}

#main-nav li {
    list-style-type: none;
    padding: 15px 20px;
    border: 1px solid rgb(88, 88, 88);
    max-width: 100%;
}

#main-nav li:hover {
    transition: 0.5s;
    background-color: rgb(88, 88, 88);
}

#main-nav a {
    color: white;
    text-decoration: none;
}

/* Main Content */
main {
    width: 90%;
    margin: auto;
    padding-left: 120px;
    padding-top: 15%;
}

main p {
    text-align: center;
    color: white;
}

main h1 {
    text-align: center;
    color: red;
}

main h2 {
    text-align: center;
    color: red;
}

/* Form */
form {
    margin: auto;
    text-align: center;
    display: block;
}
.add {
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: auto;
}

label,
input {
    display: inline-block;
}

label {
    width: 200px;
    text-align: left;
    padding: 5px;
}

.helptext {
    display: none;
}

/* Media Query */

@media only screen and (min-width: 800px) {
}