<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Riverside Mens Soccer</title>
        <link rel="stylesheet" href="../../static/home.css">
    </head>
    <body>

      <div class="top-banner">
        <img src="../static/assets/banner.jpg">
      </div>
      
      <nav id="main-nav">
        <a href="{% url 'Home' %}"><img src="../static/assets/R.png"></a>
        <img id="user" src="../static/assets/user.png">
            <ul> 
                <li><a class="internal-link" href="{% url 'calendar' %}">Calendar</a></li>
                <li><a class="internal-link" href="{% url 'news' %}">News</a></li>
                <li><a class="internal-link" href="#">Schedule</a></li>
                <li><a class="internal-link" href="{% url 'tickets' %}">Tickets</a></li>
                <li><a class="internal-link" href="#">Roster</a></li>
                <li><a class="internal-link" href="#">Media</a></li>
                <li><a class="internal-link" href="#">Athletes</a></li>
                <li class="dropdown">More
                    <div class="dropdown-content">
                      <a href="#">Apparel</a>
                      <a href="#">Team Stats</a>
                      <a href="#">Alumni</a>
                    </div>
                  </div></li>
            </ul>
      </nav>

      <div class="lower-banner">
        <h2>2023 AAAA State Champions</h2>
      </div>
      <div class="Ad-left">
        <h1>ad</h1>
    </div>
    <div class="Ad-right">
      <h1>ad</h1>
  </div>
      <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              <div class="numbertext">1 / 4</div>
              <img src="../../static/assets/Logo.jpg" class="slide-pics" >
              <div class="text">Caption Text</div>
            </div>
          
            <div class="mySlides fade">
              <div class="numbertext">2 / 4</div>
              <img src="../../static/assets/team.jpg" class="slide-pics">
              <div class="text">Caption Two</div>
            </div>
            <div class="mySlides fade">
              <div class="numbertext">3 / 4</div>
              <img src="../../static/assets/hype.jpg" class="slide-pics" >
              <div class="text">Caption Three</div>
            </div>
            <div class="mySlides fade">
              <div class="numbertext">4 / 4</div>
              <img src="../../static/assets/coachring.jpg" class="slide-pics" >
              <div class="text">Caption Three</div>
            </div>
            
            
      </div>
          <br>
          
          <!-- The dots/circles -->
          <div class="dot-div">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
          </div>
          <script>
           let slideIndex = 0;
           showSlides();
          
          function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 3500); // Change image every 2 seconds
          }
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("main-nav").style.top = "0";
              } 
              else {
                document.getElementById("main-nav").style.top = "50px";
              }
            }
          </script>
      
        
      <div class="box" id="NEWS">
        <h3>NEWS</h3>
      </div>
      <div class="box" id="SCHEDULE">
        <h3>SCHEDULE</h3>
      </div>
      <div class="Ad-center">
        <h1>AD</h1>
      </div>
      <div class="container">
        <h1>Next Match</h1>
        <h1>{{all.title}}</h1>
        <h3>{{all.description}}</h3>
        <h5><a class = "location" href="https://maps.app.goo.gl/QRo36wuxX6Z171xN7">{{all.location}}</a></h5>
        <h1 class = "vs">VS</h1>
        <h3 class="time">{{all.start_time}}</h3>
        <img class="team_logo" src={{all.team_img.url}}>
        <img class="Riverside_logo" src="/static/assets/R.png">
        <a class="tickets" href="/tickets">TICKETS </a>
      </div> 
      <div class="footer">
        <ul>
          <li><a href="#"><img src="../static/assets/instagram.png"></a></li>
          <li><a href="#"><img src="../static/assets/facebook.png"></a></li>
          <li><a href="#"><img src="../static/assets/twitter.png"></a></li>
        </ul>
      </div>     
        
    </body>
</html>