<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tickets</title>
        <link rel="stylesheet" href="../../static/tickets.css">
    </head>
    <body>
        <nav id="main-nav">
            <a href="{% url 'Home' %}"><img src="../static/assets/R.png"></a>
            <img id="user" src="../static/assets/user.png">
                <ul> 
                    <li><a class="internal-link" href="{% url 'calendar' %}">Calendar</a></li>
                    <li><a class="internal-link" href="{% url 'news' %}">News</a></li>
                    <li><a class="internal-link" href="#">Schedule</a></li>
                    <li><a class="internal-link" href="{% url 'tickets' %}">Tickets</a></li>
                    <li><a class="internal-link" href="#">Roster</a></li>
                    <li><a class="internal-link" href="#">Media</a></li>
                    <li><a class="internal-link" href="#">Athletes</a></li>
                    <li class="dropdown">More
                        <div class="dropdown-content">
                          <a href="#">Apparel</a>
                          <a href="#">Team Stats</a>
                          <a href="#">Player Stats</a>
                        </div>
                      </div></li>
                </ul>
          </nav>

          <embed class="gofan" type="text/html" src="https://gofan.co/app/school/SC2002" width="100%" height="1000px">
        <script>
            window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("main-nav").style.top = "0";
  } 
  else {
    document.getElementById("main-nav").style.top = "-50px";
  }
}
        </script>
    </body>
</html>